/* --------------------
   Анимации
   -------------------- */

   

/* Движение фотографии */ 

.photo{
    -webkit-animation: 30s ease infinite panorama;
    -moz-animation: 30s ease infinite panorama;
    animation: 30s ease infinite panorama; 
}

@-webkit-keyframes panorama{
    0%{ background-position: 0 30%; } 
    50%{ background-position: 100% 30%; } 
    100%{ background-position: 0 30%; } 
}

@-moz-keyframes panorama{
    0%{ background-position: 0 30%; } 
    50%{ background-position: 100% 30%; } 
    100%{ background-position: 0 30%; } 
}

@keyframes panorama{
    0%{ background-position: 0 30%; } 
    50%{ background-position: 100% 30%; }
    100%{ background-position: 0 30%; } 
}



/* Движение блоков при скролле */ 

.animate-block {
    opacity: 0;
    transition: 0.6s all linear;

    &.active {
        opacity: 1;
    }

    &:nth-child(1){ transition-delay: 0.1s; }
    &:nth-child(2){ transition-delay: 0.3s; }
    &:nth-child(3){ transition-delay: 0.5s; }
    &:nth-child(4){ transition-delay: 0.7s; }
    &:nth-child(5){ transition-delay: 0.9s; }
}


/* Анимация иконок при наведении */ 

.animate-icon:hover{
    .transition(0.3s);
    -webkit-animation: 1s linear infinite icon-animate;
    -moz-animation: 1s linear infinite icon-animate;
    animation: 1s linear infinite icon-animate; 
}

@-webkit-keyframes icon-animate{
    0% { transform: rotate(0deg); } 
    25%{ transform: rotate(-10deg); } 
    50%{ transform: rotate(0deg); } 
    75%{ transform: rotate(10deg); } 
    100%{ transform: rotate(0deg); } 
}