/* ---------------------------
   Подвал сайта
   --------------------------- */
.page-footer {
  min-width: 1200px;
  min-height: 804px;
  border-top: 1px solid #000;
  background: url(../../img/footer-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}
