*, *:after, *:before {
	box-sizing: border-box;
}
body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: sans-serif;
}
ul, h1{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}


/* ----------------------------
   HEADER - верхнее меню
   ---------------------------- */ 