*, *:after, *:before {
	box-sizing: border-box;
}
body, html{
	margin: 0;
	padding: 0;
	height: 100%;
}
ul, h1{
	margin: 0;
	padding: 0;
}
a{
    border: none;
    outline: none;
}

/* --------------------
	Промо блок с лого
   -------------------- */

.promo{
	padding: 17px 0;
	min-height: 550px;
	min-width: 1200px;
	border-bottom: 4px solid @main-color;
	background: #adb4b8 url(../img/bg-promo.jpg) no-repeat;
	background-position: 70% 50%;
	background-size: cover;
	position: relative;
}

/* Логотип */ 
.logo{
    float: left;
    width: 600px;

    &__image, .main-title{
        display: inline-block;
        vertical-align: middle;
    }

    &__image{
        width: 180px;
        margin-right: 12px;
        img{ width: 180px; }
    }

    .main-title{ 
        width: 380px; 
        &--orange{ color: @orange-color; }
    }
}

/* Контакты (телефоны) */ 
.contacts{
	width: 260px;
	float: right;
	padding-top: 14px;
	text-align: right;

	&__number{
		margin: 0;
		color: #fff;
		font-size: 30px;
		font-weight: 300;
		line-height: 31px;
        font-family: 'Roboto', sans-serif;
		span{ font-weight: 100; }

        &--orange{ color: @orange-color; }
	}
}


/* --------------------
	Блок услуг
   -------------------- */

.services{
	padding: 40px 0 20px;
	text-align: center;
    min-width: 1200px;

	.section-title{ margin-bottom: 46px; }
	
	&__text{
        font-size: 18px;
        line-height: 21px;

        &--big{
            font-size: 24px;
            line-height: 26px;
            margin-top: 50px;
        }

        &--grey{
            color: @grey-color;
            padding: 0 40px;
        }
    }

    &__block{
        width: 835px;
        margin: 0 auto 35px;
    }

	&__item{
        padding: 0 10px;
        position: relative;

        &:before{
            content: "";
            width: 35px;
            height: 35px;
            display: block;
            position: absolute;
            right: -20px;
            top: 45px;
            background: url(../img/plus-icon.png) no-repeat;
        }

        &:last-child:before{ display: none; }

        &__img{
            height: 92px;
            img{ max-width: 130px; }
        }

        &__head{
            color: @main-color;
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 18px;
        }
    }
}


/* ------------------------------
    Стили для блока с фотографией
   ------------------------------ */

.photo{
    min-height: 600px;
    min-width: 1200px;

    .container{ 
        position: relative; 
        min-height: 600px;
    }

    &__title{
        text-align: right;
        position: absolute;
    }

    &__title--bottom{ bottom: 15px; right: 0; }
    &__title--top{ top: 40px; right: 0; }

    &--bg2{
        background: #89a3bc url(../img/bg-2.jpg) no-repeat;
        background-position: top center;
        background-size: 120%;
    }

    &--bg3{
        background: #023274 url(../img/bg-3.jpg) no-repeat;
        background-position: top center;
        background-size: 120%;
    }

    &--bg4{
        background: #7fa2ca url(../img/bg-4.jpg) no-repeat;
        background-position: top center;
        background-size: 120%;
    }
}


/* --------------------
    Как мы работаем
   -------------------- */

.working{
    min-width: 1200px;
    padding: 0 0 25px;
    text-align: center;

    &__text{
        font-size: 18px;
        line-height: 21px;

        &--wrapper{
            width: 70%;
            margin: 35px auto 70px;
        }

        &--grey{ color: @grey-color; }
    }

}

.process{
    text-align: center;
    margin-bottom: 30px;

    .col-3{
        width: 20%;
        padding: 0 20px;
    }

    &__item{
        position: relative;

        &__img{ height: 110px; }

        p{
            font-size: 20px;
            line-height: 22px;
        }

        &:before{
            content: "";
            width: 41px;
            height: 41px;
            display: block;
            position: absolute;
            right: -18px;
            top: 54px;
            background: url(../img/arrow-icon.png) no-repeat;
        }

        &:last-child:before{ display: none; }
    
    }
}


/* -----------------------
    Почему клиенты с нами
   ----------------------- */

.advantage{
    min-width: 1200px;
    padding-bottom: 15px;

    .section-title{
        margin: 40px 0 35px;
        text-align: center;
    }

    &__text{
        font-size: 18px;
        line-height: 21px;
        text-align: center;

        &--grey{ color: @grey-color; }
    }

    &__wrapper{
        font-size: 0;
        width: 1080px;
        margin: 0 auto;
    }

    &__item{
        width: 50%;
        font-size: 0;
        padding: 0 40px 0 45px;
        position: relative;
        margin-bottom: 40px;
        display: inline-block;
        vertical-align: top;

        &__img, &__text{
            display: inline-block;
            vertical-align: middle;
        }

        &__img{ 
            margin: 0; 
            width: 20%;
            margin-right: 4%;   
            text-align: center;
        }

        &__text{ width: 76%; }

        &__title, p{
            margin: 3px 0;
            font-size: 18px;
            line-height: 21px;
        }

        &__title{
            color: @main-color;
            font-weight: 700;
        }

        p{ font-weight: 400; }

        &:before{
            content: "";
            width: 44px;
            height: 44px;
            display: block;
            position: absolute;
            left: -10px; top: 50%;
            transform: translateY(-50%);
            background: url(../img/check-icon.png) no-repeat;
        }
    }
}


/* --------------------
    Отзывы
   -------------------- */

.reviews{
    min-width: 1200px;
    text-align: center;
    padding: 0 0 12px;

    .owl-carousel{ width: 1080px; margin: 0 auto; }

    .owl-item{ width: 360px!important; }

    &__wrapper{
        min-height: 363px;
        position: relative;
        padding: 30px 16px 55px;
        border: 2px solid #d5d5d5;

        p{
            font-size: 14px;
            line-height: 16px;
            font-style: italic;
            font-weight: 700;
        }

        &:before{
            content: "";
            width: 45px;
            height: 23px;
            display: block;
            background: url(../img/review-icon.png) no-repeat;
            position: absolute;
            bottom: -23px; left: 7px;
        }
    }

    &__item{
        width: 350px;
        text-align: left;
        position: relative;
        display: inline-block;
        vertical-align: top;

        &__img{
            margin: 0;
            width: auto;
            height: 55px;

            &--big img{ 
                position: relative; 
                top: -15px; 
            }
        }
    }
}

.author{
    margin-top: 30px;

    &__avatar, &__about{
        display: inline-block;
        vertical-align: middle;
    }

    &__avatar{
        margin: 0 6px 0 10px;
        width: 50px;
        height: 50px;
        text-align: center;

        img{ 
            width: 100%; 
            height: auto; 
            border-radius: 100%;
        }

        &--empty img{ 
            width: 40px;
            border-radius: 0; 
        }
    }

    &__about{ 
        width: 260px;

        p{ margin: 0; }

        &__name{
            font-size: 18px;
            line-height: 21px;
            font-weight: 700;
            color: @main-color; 
        } 

        &__prof{
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
        }
    }
}


/* --------------------
   Форма заявки
   -------------------- */

.application-form{
    min-width: 1200px;
    text-align: center; 
    padding: 0 0 90px;  
    position: relative;

    .section-title{ margin-bottom: 20px; }

    .col:not(:last-child){ padding-right: 22px }
}


/* ----------------------
   Дополнительные услуги
   ---------------------- */

.options{
    text-align: center;
    
    &__text{
        width: 75%;
        font-size: 24px;
        line-height: 27px;
        margin: 20px auto 20px;
    }

    &__item{
        width: 20%;
        margin: 10px 0;
        padding: 0 30px;
        display: inline-block;
        vertical-align: top;
        
        &__img{           
            min-height: 97px;
            position: relative;
            display: inline-block;
            vertical-align: top;
            
            img{ 
                max-width: 110px; 
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%,-50%);
            }
        }

        p{
            font-size: 20px;
            line-height: 23px;
        }
    }
}




