/* --------------------
	Стили для кнопок
   -------------------- */

.btn-order{
	padding: 2px 0;
	min-width: 170px;
	font-weight: 700;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	border: 2px solid #fff;
	.transition(0.2s);

	&:hover{
		color: @orange-color;
		background-color: #fff;
	}

}