/* --------------------
	Стили для кнопок
   -------------------- */

/* Кнопка заказа теплохода */ 
.btn-order{
	padding: 2px 0;
	min-width: 170px;
	font-weight: 500;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	border: 2px solid #fff;
	.transition(0.1s);

	&:hover{
		color: @orange-color;
		background-color: #fff;
	}

	&:active{ color: darken(@orange-color, 5%); }
}

/* Ссылка заказать звонок */ 
.call-link{
	font-weight: 300;
	line-height: 22px;
	vertical-align: top;
	display: inline-block;
	border-bottom: 1px solid #fff;
	.transition(0.2s);

	&:hover{ 
		color: @main-color; 
		border-color: @main-color;
	}

	&--orange{ 
		color: @orange-color;
		border-color: @orange-color; 
	}

}

/* Главная большая ссылка */ 
.btn{
	color: #fff;
	width: 635px;
	margin: 0 auto;
	display: block;
	font-weight: 500;
	padding: 21px 10px;
	font-size: 36px;
	line-height: 36px;
	text-align: center;	
	border-radius: 6px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	background-color: @main-color;
	.transition(0.2s);
	
	/* Позиционирование кнопки */ 
	&--bottom{
		position: absolute;
		left: 0; right: 0;
		bottom: -39px;
		margin: auto;
	}

	&--top{
		position: absolute;
		left: 0; right: 0;
		bottom: -39px;
		margin: auto;
	}

	&:hover{ background-color: lighten(@main-color, 7%); }

	&:active{ background-color: darken(@main-color, 7%); }
}

/* Ссылка открытия формы поиска */
.search-link{
	font-size: 36px;
	font-weight: 700;
	line-height: 38px;
	color: @orange-color;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	border-bottom: 2px dashed @orange-color;
	font-family: 'Roboto Condensed', sans-serif;
	.transition(0.2s);

	&:hover{
		color: @main-color;
		border-color: @main-color;
	}

	&:active{
		color: darken(@main-color, 10%);
		border-color: darken(@main-color, 10%);
	}
}

/* Стили сортировки */
.sorting{
	margin: 20px 0;
	font-size: 24px;
	line-height: 30px;
	text-align: center;

	&__link{
		font-size: 24px;
		line-height: 26px;
		color: @main-color;
		.transition(0.2s);
		border-bottom: 1px dashed @main-color;
		&:hover{
			color: lighten(@main-color, 5%);
			border-bottom-color: transparent;
		}
	}
}

/* Кнопка подробнее */
.btn-more{
	color: #fff;
	font-size: 18px;
	min-width: 104px;
	padding: 7px 10px;
	text-align: center;
	border-radius: 3px;
	.transition(0.2s);
	background-color: @main-color;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);

	&:hover{ background-color: lighten(@main-color, 7%); }
	&:active{ background-color: darken(@main-color, 7%); }
} 