/* ---------------------------
	Главная навигация на сайте
   --------------------------- */
.page-header{
	padding: 7px 0;
	min-width: 1200px;
	background: @main-color;

	&--fixed{
		width: 100%;
		position: fixed;
		top: 0; left: 0;
		z-index: 9;
	}

	&__btn{
		float: right;
		text-align: right;
	}
}

.header-margin{
	margin-top: 52px;
}

.main-nav{
	padding: 4px 0;

	&__link{
		font-weight: 400;
		margin-right: 20px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		text-decoration: none;
		.transition(0.2s);
		
		&:last-child{ margin-right: 0; }

		&:hover > a, &.active > a{ color: @orange-color; }
		&:active > a{ color: darken(@orange-color, 10%); }

		&:hover .main-nav__submenu{ display: block; }
	}

	&__submenu{
		bottom: 0;
		width: 100%;
		padding: 0 5px;
		position: absolute;
		border-radius: 2px;
		transform: translateY(100%);
		background: rgba(255, 255, 255, 0.9);
		display: none;

		&-link{
			list-style: none;
			a{
				display: block;
				color: @main-color;
			}

			&:hover > a, &.active > a{ color: @orange-color; }
			&:active > a{ color: darken(@orange-color, 10%); }
		}
	}
}

.sub-header{
	padding: 17px 0;
	min-width: 1200px;
}