/* ----------------------------
   Подключение шрифтов
------------------------------- */

a{
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
}