/* ----------------------------
   Подключение шрифтов
------------------------------- */
@font-face {
	font-family: FiraSans-Light; 
	src: url(../fonts/FiraSans-Light.ttf);
}
@font-face {
	font-family: FiraSans-Medium; 
	src: url(../fonts/FiraSans-Medium.ttf);
}
@font-face {
	font-family: FiraSans-Regular; 
	src: url(../fonts/FiraSans-Regular.ttf);
}
@font-face {
	font-family: FiraSans-Bold; 
	src: url(../fonts/FiraSans-Bold.ttf);
}

p, a, label{
	font-family: FiraSans-Regular; 
}

p, label{
	color: @text-color;
	font-size: @text-size;
	line-height: @text-line-height;
}

a{
	font-size: @text-size;
	text-decoration: none;
	line-height: @text-line-height;
}

h1{
	color: #fff;
	font-size: 66px;
	line-height: 68px;
	text-align: center;
	font-family: FiraSans-Regular; 
}

h2{
	font-size: 32px;
	line-height: 55px;
	color: @text-color;
	font-family: FiraSans-Medium; 
}